# KNN classifier for Iris dataset

In [2]:
#Importamos todas las librerías que vamos a usar
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing, manifold, decomposition

In [26]:
#Leemos el dataset y visualizamos las primeras 5 filas
df = pd.read_csv('../datasets/iris.csv')
df.head()

   Largo_sep  Ancho_sep  Largo_pet  Ancho_pet        Tipo_Flor
0        6.0        2.9        4.5        1.5  Iris-versicolor
1        6.8        3.0        5.5        2.1   Iris-virginica
2        6.3        2.5        4.9        1.5  Iris-versicolor
3        5.5        4.2        1.4        0.2      Iris-setosa
4        6.2        3.4        5.4        2.3   Iris-virginica

In [27]:
#Visualozamos una descripción general de los datos del dataset
df.describe()

        Largo_sep   Ancho_sep   Largo_pet   Ancho_pet
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [28]:
#Checamos que nuestro dataset no tenga ningún valor nulo
df.isnull().values.any()

False

In [30]:
#Definimos nuestra X y Y a partir de los features de nuestro dataset
X = df.drop(columns="Tipo_Flor")
y = df[["Tipo_Flor"]]
X.head()

   Largo_sep  Ancho_sep  Largo_pet  Ancho_pet
0        6.0        2.9        4.5        1.5
1        6.8        3.0        5.5        2.1
2        6.3        2.5        4.9        1.5
3        5.5        4.2        1.4        0.2
4        6.2        3.4        5.4        2.3

In [31]:
#Para nuestras clases, convertimos los valores de Y en valores númericos
le = preprocessing.LabelEncoder()
y["Tipo_Flor"] = le.fit_transform(df['Tipo_Flor'])
y.head()

/home/oswaldo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Tipo_Flor
0          1
1          2
2          1
3          0
4          2